@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply bg-white text-slate-900 antialiased;
    margin: 0;
  }
}
